{% extends 'basesimple.html.twig' %}

{% form_theme edit_form _self %}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</label></br>
    {%- endif -%}
{%- endblock form_label -%}

{% block localcss %}
<style>

a.beta-remove, a.gamma-remove { 
	background: #d3d7cf; 
	color: #fffee8; 
	padding: 2px 6px; }

div#jus_simplebundle_alpha_betas, label.second-level-top {
background-clip: content-box; 
padding-left: 65px;
}

	 {% for key,f in edit_form.betas.children %} 
div#jus_simplebundle_alpha_betas_{{ key }} {
  background-color: {% if key is divisibleby(2) %}#fffee8{% else %}#e4f6dc{% endif %};  
}

div#jus_simplebundle_alpha_betas_{{ key }}_gammas,  label.third-level-top, div.third-level {
background-clip: content-box; 
padding-left: 95px;
}

{% for kkey,g in f.gammas.children %} 
div#jus_simplebundle_alpha_betas_{{ key }}_gammas_{{ kkey }} {
background-color: {% if key is divisibleby(2) %}#FCFBDB;{% else %}#D8F2C6{% endif %};   
}
	{% endfor %} {% endfor %} 
</style>
{% endblock %}

{% block localjs %}
<script type="text/javascript">
/* 
[id^='someId'] will match all ids starting with someId.
[id$='someId'] will match all ids ending with someId.
[id*='someId'] will match all ids containing someId.
*/
 		var $collectionHolder;

		var $addBetaLink = $('<a href="#" class="add_Beta_link">Crea un altro Beta</a>');
		var $newBetaLink = $('<div class="beta-link"></div>').append($addBetaLink);

	jQuery(document).ready(function() {

		var elBeta = document.querySelectorAll("div[id^='jus_simplebundle_alpha_betas_']");
		var BetaArray  = Array.from(elBeta).filter(elt => /^jus_simplebundle_alpha_betas_\d*$/.test(elt.id));
                
		var GammaArray = []; 
		for (var sec in BetaArray) {
			var pattern = new RegExp('^jus_simplebundle_alpha_betas_' + sec + '_gammas_\\d');
			var elGamma = document.querySelectorAll('div[id^=jus_simplebundle_alpha_betas_'+ sec +'_gammas_]');
			GammaArray.push(Array.from(elGamma).filter(elt => pattern.test(elt.id)));
			}

 	{% for bet in alpha.betas %} 
   $('<span class="second-level"><a href="{{ path('Jus_Simple_beta_delete', { 'id': bet.id }) }}"  class="beta-remove">Remove {{ bet.id }}</a></span>').insertBefore(BetaArray[{{ loop.index0 }}]);
		var index={{ loop.index0 }};
   		{% if bet.gammas %}
 			{% for gam in bet.gammas %} 
   $('<span class="third-level"><a href="{{ path('Jus_Simple_gamma_delete', { 'id': gam.id }) }}" class="gamma-remove">Remove {{ gam.id }}</a></span>').insertBefore(GammaArray[index][{{ loop.index0 }}]);
 			{% endfor %}
		{% endif %}
 	{% endfor %} 

		var addGammaUrLink = [];
		var newGammaUrLink = [];
		var numberBetas = BetaArray.length; 
	
		for (i = 0; i < numberBetas ; ++i){
	addGammaUrLink.push($('<span class="addTop_Gamma_link_'+i+'"> <a href="#" class="add_Gamma_link_'+i+'">Crea un Gamma</a></span></br></br>'));
	newGammaUrLink.push($('<div class="gamma-link-ext">').append($('<span class="gamma-link-unus"> <a href="#" class="add_Gamma_link_'+i+'" style="padding-left:95px;">Crea un Gamma</a></span></br></br>').append('</div>')));
		}

		var i; 
                var collectionHolderI = [];
                for (i = 0; i < numberBetas ; ++i){
                collectionHolderI.push($('div#jus_simplebundle_alpha_betas_'+i));
                collectionHolderI[i].append(newGammaUrLink[i].html());   // append link OK
		}

for (var s in BetaArray) {
   		(function(sec){
			$('a.add_Gamma_link_'+sec).on("click", function(e){
        		e.preventDefault();

			var pattern = new RegExp('^jus_simplebundle_alpha_betas_' + sec + '_gammas_\\d');
			var elGamma = document.querySelectorAll('input[id^=jus_simplebundle_alpha_betas_'+ sec +'_gammas]');
			var GammaArrayBis  = Array.from(elGamma).filter(elt => pattern.test(elt.id));
                        var numberGamma = GammaArrayBis.length;
                        numberGamma=numberGamma+1;
  			var prototypeGamma = $('div#jus_simplebundle_alpha_betas_'+sec+'_gammas').data('prototype');
                        var newFormGamma = prototypeGamma.replace(/__beta_prot__/g, sec).replace(/__gamma_prot__/g, numberGamma).replace(/label__/, ' Compila Gamma, Grazie');;
			var newFormGamma = $('<div id="jus_simplebundle_alpha_betas_'+sec+'_gammas_'+numberGamma+'"; class="third-level"; ></div>').append(newFormGamma).append('<a href="#" class="remove-gamma-tag">Remove new gamma</a>').insertBefore('.add_Gamma_link_'+sec+'');

		$('.remove-gamma-tag').click(function(e) {
    			e.preventDefault();
    			$(this).parent().remove();
    			return false;
  		});
      		});
    		}(s))
 		}
 
    		$collectionHolderBeta = $('div#jus_simplebundle_alpha_betas');
    		$collectionHolderBeta.append($newBetaLink);	
		$addBetaLink.on('click', function(e) {
                        var $addGammaLink = $('<a href="#" class="add_Gamma_link_'+numberBetas+'" style="padding-left:95px;">Crea un Gamma</a>');
		        var $newGammaLink = $('<div class="gamma-link-ext">').append($addGammaLink).append('</div>');
        		e.preventDefault();
                        var prototype = $collectionHolderBeta.data('prototype');

                        var cnt0 = document.querySelectorAll("input[id^=jus_simplebundle_alpha_betas]").length;
                        var cnt1 = document.querySelectorAll("input[id*=_gammas]").length;
			var index = cnt0-cnt1;
    		        var newForm = prototype.replace(/__beta_prot__/g, index).replace(/label__/, ' Compila Beta, Grazie');
                        var newForm =  $('<div id="jus_simplebundle_alpha_betas_'+index+'";  class="second-level beta-form"; ></div>').append(newForm).append($newGammaLink).append('<a href="#" class="remove-beta-tag" >Remove new beta</a>').insertBefore('.add_Beta_link');

			$('.remove-beta-tag').click(function(e) {
    			e.preventDefault();
    			$(this).parent().remove();
    			return false;
  			});

		$addGammaLink.on('click', function(e) {
                        e.preventDefault();
			var $collectionHolderGamma = $('div#jus_simplebundle_alpha_betas_'+index+'_gammas');
                     	var numberGamma = document.querySelectorAll('input[id^=jus_simplebundle_alpha_betas_'+index+'_gammas]').length;
                        numberGamma=numberGamma+1;
  			var prototypeGamma = $collectionHolderGamma.data('prototype');
			var newFormGamma = prototypeGamma.replace(/__beta_prot__/g, index).replace(/__gamma_prot__/g, numberGamma).replace(/label__/, ' Compila Gamma, Grazie');
                        var newFormGamma =  $('<div id="jus_simplebundle_alpha_betas_'+index+'_gammas_'+numberGamma+'";  class="third-level" ></div>').append(newFormGamma).append('<a href="#" class="remove-gamma-tag">Remove new gamma (beta)</a>').insertBefore('.add_Gamma_link_'+numberBetas);

			$('.remove-gamma-tag').click(function(e) {
    			e.preventDefault();
    			$(this).parent().remove();
    			return false;
  		});
    	});
	});
	});

</script>




{% endblock %}
{% block body %}
    <h1>Alpha edit</h1>

<div class="betas" id="prots"  >
            {{ form_start(edit_form) }}
    {{ form_label(edit_form) }} </br> 
    {{ form_errors(edit_form) }}</br> 
    {{ form_widget(edit_form) }}</br> 
            {{ form_end(edit_form) }}
</div>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}

          </br>  <a href="{{ path('Jus_Simple_alpha_index') }}">Back to the list</a>
{% endblock %}
