{% extends 'basesimple.html.twig' %}
{% block localjs %}
<script type="text/javascript">
 		var $collectionHolderAlpha;

// setup an "add aAlphas" link
		var $addAlphaLink = $('<a href="#" class="add_Alpha_link">Crea un altro Alpha</a>');
		var $newAlphaLink = $('<li></li>').append($addAlphaLink);



	jQuery(document).ready(function() {
    		// Get the ul that holds the collection of Alphas
    		$collectionHolderAlpha = $('ul.Alphas');
    		// add the "add Alphas" anchor and li to the Alphas ul
    		$collectionHolderAlpha.append($newAlphaLink);

      		var $index = 0;   
   		var $jndex = 0;
		var $kndex = 0;

    		$addAlphaLink.on('click', function(e) {
        		// prevent the link from creating a "#" on the URL
        		e.preventDefault();
        		// add a newAlphas form (see next code block)
        		addAlphaForm($collectionHolderAlpha, $newAlphaLink, $index, $jndex, $kndex);  // Ok, it works!
			$index++; 
    	});
	});


	function addAlphaForm($collectionHolder, $newLink, $index, $jndex, $kndex ) {

           	var $addBetaLink = $('<a href="#" class="add_Beta_link_'+$index+'" >Crea un altro Beta</a>');
          	var $newBetaLink = $('<ul>').append($addBetaLink).append('</ul>');

    		// Get the data-prototype explained earlier
    		var prototype = $collectionHolder.data('prototype');

    		// get the new index
   		var index = $index;

    		// Replace '__alpha_prot__' in the prototype's HTML by
    		// a number based on how many items we have
    		var newForm = prototype.replace(/__alpha_prot__/g, index);

    		// Display the form in the page in an li, before the "Add a Alphas" link li
    		var newForm =  $('<li></li>').append(newForm).insertBefore('.add_Alpha_link').append($newBetaLink).append('<a href="#" class="remove-tag">remove alpha</a>');  

            	       // handle the removal, just for this example
  		$('.remove-tag').click(function(e) {
    			e.preventDefault();
    			$(this).parent().remove();
    			return false;
  		});

		$addBetaLink.on('click', function(e) {	
			e.preventDefault();
			var $collectionHolderBeta = $('div#jus_simplebundle_alphas_alphas_'+$index+'_betas');
        		addBetaForm($collectionHolderBeta, $newLink, $index, $jndex, $kndex);  // Ok, it works!
			$jndex++;
   	 	});
		}

	function addBetaForm($collectionHolder, $newLink, $index, $jndex, $kndex) {

		
		var $addGammaLink = $('<a href="#" class="add_Gamma_link_'+$jndex+'" >Crea un altra Gamma</a>');
          	var $newGammaLink = $('<ul>').append($addGammaLink).append('</ul>');

    		var prototype = $collectionHolder.data('prototype');
//window.alert(prototype);
		var index = $index;
  		var jndex = $jndex;
		var kndex = $kndex;
		var newFormSub = prototype.replace(/__alpha_prot__/g, index).replace(/__beta_prot__/g, jndex).replace(/label__/g, '');
	    	$('<li></li>').append(newFormSub).insertBefore('.add_Beta_link_'+$index).append($newGammaLink).append('<a href="#" class="remove-tag">remove beta</a>');

		$('.remove-tag').click(function(e) {
    			e.preventDefault();
    			$(this).parent().remove();
    			return false;
  		});

		$addGammaLink.on('click', function(e) {	
			e.preventDefault();
			var $collectionHolderGamma = $('div#jus_simplebundle_alphas_alphas_'+$index+'_betas_'+$jndex+'_gammas');
//window.alert('div#alphas_alphas_'+$index+'_betas_'+$jndex+'_gammas'+$collectionHolderGamma.html());
        		addGammaForm($collectionHolderGamma, $newLink, $index, $jndex, $kndex);  // Ok, it works!
			$kndex++;
   	 	});
		}

	function addGammaForm($collectionHolder, $newLink, $index, $jndex, $kndex) {
    		var prototype = $collectionHolder.data('prototype');
		var index = $index;
  		var jndex = $jndex;
  		var kndex = $kndex;
		var newFormSubSub = prototype.replace(/__alpha_prot__/g, index).replace(/__beta_prot__/g, jndex).replace(/__gamma_prot__/g, kndex).replace(/label__/g, '');
	    	$('<li></li>').append(newFormSubSub).append('<a href="#" class="remove-tag">remove gamma</a>').insertBefore('.add_Gamma_link_'+$jndex)

		$('.remove-tag').click(function(e) {
    			e.preventDefault();
    			$(this).parent().remove();
    			return false;
  		});
		}		
</script>
{% endblock %}

{% block body %}
 
 
    <h1>Alpha creation</h1>

 	{{ form_start(form) }}
<ul class="Alphas" id="prots"  data-prototype="{{ form_widget(form.alphas.vars.prototype) | e }}">

    {# render the alpha's fields#}
    {% for f in form.alphas %}  
               <li class="here">   {{ form_row(f) }} 
         
               </li>
    {% endfor %} </ul>
     <input type="submit" value="Save Now">
{{ form_end(form) }}


<br>
<hr>
            <a href="{{ path('Jus_Simple_alpha_index') }}">Back to the list</a>

{% endblock %}
