{% extends 'basesimple.html.twig' %}

{% block body %}
    <h1>Gamma</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gamma.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ gamma.title }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('Jus_Simple_gamma_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('Jus_Simple_gamma_edit', { 'id': gamma.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
